html,body{
	font-family: Palatino Linotype, serif;
	margin: 0;
}

header{
	background-color: #ffb3d9;
	background-image: url('https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/1864258/600/400/m2/fpnw/wm0/watercolor_floral_pattern_thumb2-.png?1478630368&s=a8d39db79b87164005bad63548dc544e');
	padding: 40px 20px;
	text-align: center;
}

h1{
	font-size: 90px;
	color: black;
	text-shadow: 0 4px 20px lightgrey;
	margin: 0;
	background-color: white;

}

header img{
	border-radius: 200px;
	width: 300px;
	border: 2px solid #ffffff;
	box-shadow: 0 10px 20px lightgrey;

}

.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	font color: lightgrey;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}


a{
	color: pink;
	text-decoration: none;
}

a:hover{
	background-color: #f2f2f2;
}
footer{
	margin: 20px;
	padding: 40px 20px;
	background-color: white;

}

ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}








